/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin datacenter {
  /* Include all the styles from the reindeer theme */
  @include reindeer;
 /* Include all the styles from the reindeer theme @include chameleon;*/
 .header {
	background-image : url(img/header-bk.png);
	background-repeat: repeat-x;
	padding:0px;
}
 .logo {
	background-image : url(img/logo.png);
	background-repeat: no;
	padding:0px;
}

}
