
	<table style="background-image : url(login2.jpg);border:solid 3 black">
		<tr height=70px>
			<td  width=50px >
			</td>
			<td width=302px>
			</td>
			<td width=85px>
			</td>
		</tr>
		<tr height=170px>
			<td>
			</td>
			<td>
				<table >
					<tr height=25px>
						<td width=100px></td>
						<td width=190px>
		<div location="username"></div>
</td>
					</tr>
					<tr height=40px>
						<td></td>
						<td>
		<div location="password"></div>
</td>
					</tr>
					<tr height=80px>
						<td colspan="2" align=right valign=bottom>
		<div location="button"></div>
						</td>
					</tr>
				</table>
			</td>
			<td width=50px>
			</td>
		</tr>
		<tr height=13>
			<td>
			</td>
			<td>
			</td>
		</tr>
	</table>